// Footer
footer {
  margin-top: 3rem;

  .top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .sub-footer {
      padding: 0 64px;

      h4 {
        font-size: 20px;
      }
    }
  }

  .bottom {
    margin-top: 3rem;
    background-color: #222;
    color: white;
    font-size: 16px;
    padding: 10px 0;
    display: flex;
    justify-content: center;

    .heart {
      color: #d63031;
      font-size: 18px;
    }

    p {
      margin: 0 10px;
    }
  }
}

@media (max-width: 768px) {
  footer {
    margin-top: 0rem;

    .top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;

      .sub-footer {
        padding: 0;
        width: 40vw;
        text-align: center;

        h4 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }
    }

    .bottom {
      margin-top: 1rem;
      font-size: 14px;
      padding: 10px 0;

      .heart {
        color: #d63031;
        font-size: 16px;
      }

      p {
        margin: 0 10px;
      }
    }
  }
}
