@import "./Variables.scss";

nav {
  // background-color: $primary-color;
  position: fixed;
  // width: inherit;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  z-index: 99;
  height: 60px;

  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
  }

  .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
  }
}
